body {
    color: #000;
    background: #e7e7e7;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    padding: 10px;
}

.box {
    box-sizing: content-box;
    width: 1750px;
    height: 850px;
}

main .grid .row {
    width: 50%;
    padding: 0 2%;
    height: 8%;
    float: left;
}

main .grid .row div {
    width: 4%;
    height: 100%;
    float: left;
    text-align: center;
    color: red;
    border: 2px solid #e7e7e7;
    border-radius: 1em;
}

main .grid .row .l {
    border: 2px solid blue;
    color: red;
}

main .grid .row .a {
    color: blue;
    font-weight: bold;
}

main .opts .hint {
    width: 30%;
    height: 100%;
    margin: 0.8em;
    padding: 0.8em;
    background-color: #939296;
    border-radius: 1em;
    text-align: center;
    float: left;
}

main .opts .conf {
    width: 20%;
    float: right;
}

main .opts .conf .timer {
    width: 60%;
    padding: 22% 5%;
    margin: 0.4em 30%;
    border: 2px solid #6e4e94;
    border-radius: 50%;
    text-align: center;
    font-size: 2em;
}

#RESPOSTA1 {
    margin-left: 165px;
}
.borda{
    border: 2px solid #000;
    border-radius: 50px;
}
